@import './Variables.scss';

.about{
  .about-container{
    @include container;
    height: 100 vh;
    min-height: 600px;
    @media #{$media-xl}{
      display: flex;
      max-height: 900px;
    }
    .about__text{
      overflow: hidden;
      @media #{$media-xl}{
        width: 50%;
      }
      .text-container{
        text-align: left;
        box-sizing: border-box;
        margin-left: -600px;
        transition: margin-left 2s;
        .text__header{
          font-size: 48px;
          color: lighten($mainColor, 5%);
          margin-bottom: 10px;
        }
        .text__header--small{
          margin-top: 10px;
          font-size: 32px;
          color: lighten($mainColor, 5%);
        }
      }
      .text-container--transitioned{
          margin-left: 0;
      }
      .text-container--box{
        font-size: 22px;
        text-align: left;
        overflow: hidden;
        margin-left: 400px;
        transition: margin-left 3s;
        .text__paragraph{
          margin-top: 30px;
          color: black;
        }
      }
      .box--transitioned{
        margin-left: 0;
      }
    }
    .about__image{
        display: none;
        @media #{$media-xl}{
          margin-left: 30px;
          display: block;
          width: 50%;
          overflow: hidden;
          background-repeat: no-repeat;
          .image__picture{
            background-image: url('../images/about.jpg');
            max-width: 550px;
            height: 100%;
            margin: 30px;
            margin-left: -600px;
            transition: margin-left 2s;
          }
          .image__picture--transitioned{
            margin-left: 0;
          }
        }

    }
  }
}
