@import './Variables';

.logo{
  background-image: linear-gradient(to top, $mainColor, lighten($mainColor, 10%));
  position: fixed;
  width: 100%;
  display: block;
  transition: display;
  height: 56px;
  transition: height 1s;
  @media #{$media-lg}{
    display: none;
  }
  .logo-container{
    @include container
    font-family: $Frederica-font;
    font-size: 48px;
    line-height: 56px;
  }
}
.logo--transitioned{
  height: 0;
}
