@import './Variables.scss';

.navbar{
  background-color: $mainColor;
  position: fixed;
  top: 55px;
  width: 100%;
  height: 56px;
  transition: top 1s;
  @media #{$media-lg}{
    top:0;
  }
  .navbar-container{
    @include container;
    display: flex;

    .navbar__logo{
      display: none;
      @media #{$media-lg}{
        display: block;
        width: 50%;
        font-family: $Frederica-font;
        font-size: 48px;
        line-height: 56px;
      }
    }
    .navbar__buttons{
      width: 100%;
      display: flex;
      justify-content: space-around;
      line-height: 56px;
      font-family: $Marker;
      font-size: 22px;
      @media #{$media-lg}{
        width: 50%;
      }
      .navbar__button{
        display: block;
      }
    }
  }
}
.navbar--transition{
  top:0;
}
