@import './Variables.scss';

.navbar{
  background-color: #B22506;
  position: fixed;
  top: 56px;
  width: 100%;
  height: 56px;
  transition: top 1s;
  @media #{$media-lg}{
    top:0;
  }
  .navbar-container{
    @include container
    display: flex;

    .navbar__logo{
      display: none;
      @media #{$media-lg}{
        display: block;
        width: 50%;
        font-family: $Frederica-font;
        font-size: 48px;
        line-height: 56px;
      }
    }
    .navbar__buttons{
      width: 50%;
      .navbar__button{

      }
    }
  }
}
.navbar--transition{
  top:0;
}
