@import './Variables';

.products{
  .products-container{
    @include container;
    display: block;
      .products__box{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        margin-top: 20px;
        @media #{$media-lg}{
          flex-direction: row;
          justify-content: flex-start;
          height: 50vh;
        }
        .products__product{
          cursor: pointer;
          width: 70%;
          margin: 0 auto;
          .product__photo{
            background-image: url('../images/product.jpeg');
            background-position: center;
            height: 150px;
            width: 150px;
            margin: 0 auto;
            border-radius: 50%;
            margin-top: 5px;
            @media #{$media-lg}{
              height: 220px;
              width: 220px;
            }
            .product__price{
              display: none;
              color: red;
              font-size: 30px;
              line-height: 100px;
              font-weight: bolder;
              @media #{$media-lg}{
              line-height: 150px;
              font-size: 48px;
              }
              span{
                margin-left: 4px;
              }
            }
          }
          .product__photo:hover{
            opacity: 0.5;
            .product__price{
              display: inline-block;
            }
          }
        }
      }
  }
}
