$Frederica-font: 'Fredericka the Great', cursive;


$media-sm: "only screen and (max-width: 720px)";
$media-lg: "only screen and (min-width: 721px)";

//container mixin
@mixin container{
  max-width: 1200px;
  margin: 0 auto;
}
