$Frederica-font: 'Fredericka the Great', cursive;
$Marker: "Permanent Marker", cursive;

//main color

$mainColor: #B22506;

$media-sm: "only screen and (max-width: 720px)";
$media-lg: "only screen and (min-width: 721px)";
$media-xl: "only screen and (min-width: 1024px)";

//container mixin
@mixin container{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
